@import "../../scss/variables";

.Mic {
    &__Container {
        height: 30%;
        bottom: 30px;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        display: flex;
        z-index: 1;
        align-items: center;
        justify-content: space-between;
        position: absolute;

        .visualizer {
            display: block;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            position: absolute;

            path {
                stroke-linecap: square;
                stroke: white;
                stroke-width: 0.5px;
            }
        }
    }
}
