@import '../../scss/variables';

.SelectAudio {
    padding: 113px 16px 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    &__Filter {
        padding: 29px 0 17px;
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.4);
        margin-bottom: 16px;
        h1 {
            text-align: center;
            margin-bottom: 37px;
        }
    }

    &__Options {
        display: flex;
        overflow-x: auto;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }
        .btn {
            flex: 0 1 auto;
            white-space: nowrap;
            margin-right: 15px;
            width: auto;
        }
    }

    &__TrackList {
        height: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }
    }

    &__SelectedTrack {
        display: flex;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px;
        background-color: black;
        color: white;
    }

    &__Record {
        max-width: 306px;
        position: fixed;
        bottom: 44px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &__Track {
        display: flex;
        margin-bottom: 11px;
        background-color: $black;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid $black;
        h2 {
            font-size: 16px;
            font-weight: bold;
            text-transform: capitalize;
            margin: 0;
        }

        .category {
            font-size: 12px;
            text-transform: uppercase;
        }

        &.selected {
            border: 1px solid $white;
        }

        &.muted {
            opacity: 0.2;
        }

        &__Content {
            padding: 17px 0;
            margin-right: 5px;
            flex: 1;
            h2 {
                margin-bottom: 5px;
            }
        }

        &__Play {
            padding: 17px;
            align-self: center;
            flex-basis: 40px;
            margin-right: 5px;
            button {
                width: 100%;
            }
        }

        &__Selector {
            min-width: 100px;
            flex-basis: 100px;
            background-color: $blue;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 10px;

            .choosen & {
                background-color: $green;
            }
        }
    }
}
