@import './../../scss/variables';

.Vote {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    bottom: 34px;
    left: 16px;
    right: 0;
    width: 80px;
    border-radius: 40px;
    border: 1px solid $white;

    &__Icon {
        margin-bottom: 20px;
        width: 42px;
        border: 0 !important;
        padding: 0;
        background-color: transparent;
        position: relative;
        outline: none !important;

        &:last-child {
            margin-bottom: 0;
        }

        &.selected {
            > svg {
                .stroke {
                    stroke: $black;
                }

                .fill {
                    fill: $black;
                }

                .main {
                    fill: $blue;
                }
            }
        }

        .Floaters {
            position: absolute;
            top: 0;
            height: 42px;
            svg {
                position: absolute;
                top: 0;
                width: 42px;
                animation: float 3s alternate forwards;

                .stroke {
                    stroke: $black;
                }

                .fill {
                    fill: $black;
                }

                .main {
                    fill: $blue;
                }
            }
        }
    }
}

@keyframes float {
    0% {
        transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(60px, -400%, 0);
    }
    50% {
        transform: translate3d(0, -600%, 10%);
    }
    75% {
        transform: translate3d(-20px, -800%, 0);
        opacity: 0.8;
    }
    100% {
        transform: translate3d(0, -1000%, 0);
        opacity: 0;
    }
}
