@import '../../scss/variables';

.VideoEdit {
    padding: 38px 40px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    &__Preview {
        border-radius: 17px;
        overflow: hidden;
        border: 1px solid $white;
        margin-bottom: 26px;
        flex: 1;
        width: 100%;

        video {
            object-fit: cover;
        }
    }

    &__Retry {
        margin-left: 34px;
    }

    &__Submit {
        display: flex;
        width: 100%;
    }

    &__Confirm {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: $black, $alpha: 0.94);

        &__Modal {
            background-image: $gradDark;
            border: 1px solid $white;
            border-radius: 35px;
            max-width: 80%;
            padding: 12px;
            text-align: center;
        }

        &__Content {
            padding: 19px 12px 24px;

            p:last-child {
                margin: 0;
            }

            h3 {
                font-size: 25px;
            }
        }

        &__Buttons {
            display: flex;

            .btn:last-of-type {
                margin-left: 17px;
            }
        }
    }
}
