@import './../../scss/variables';

.Main {
    position: relative;

    &__Device_Support {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: $black;
        z-index: 1002;
        flex-direction: column;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);

        h2 {
            margin-top: 30px;
        }
    }
    
    &__Rotate {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: $black;
        z-index: 1001;

        h2 {
            margin-top: 30px;
        }

        @media (orientation: landscape) {
            top: 0;
            display: flex;
            flex-direction: column;
        }
    }

    &__Instructions {
        background-color: rgba($color: $black, $alpha: 0.75);
        position: fixed;
        top: 0;
        width: 100%;
        bottom: 0;
        z-index: 1000;

        &__Record {
            position: absolute;
            bottom: 45px;
            left: 50%;
            transform: translateX(-50%);
        }

        &__Swipe {
            font-weight: $fontSemiBold;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translateX(-50%) translateY(-50%);

            div {
                margin: 13px 0;
            }
        }

        &__Arrow {
            font-weight: $fontSemiBold;
            text-align: center;
            white-space: nowrap;

            svg {
                margin-top: 13px;
            }

            &.Record {
                position: absolute;
                bottom: 136px;
                left: 50%;
                transform: translateX(-50%);
            }

            &.React {
                position: absolute;

                bottom: 320px;
                left: 11px;
            }
        }
    }
}
