@import './../../scss/variables';

.StartLive {
    padding: 0 16px;
    text-align: center;
    overflow-y: scroll;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    &__Content {
        padding-top: 113px;
        padding-bottom: 50px;
        max-width: 342px;
        margin: 0 auto;
    }

    &__Icon {
        margin: 60px 0 48px;
    }

    &__Continue {
        margin-top: 90px;
    }

    h1 {
        margin-bottom: 30px;

        .green {
            color: $green;
        }
    }
}
