@import '../../scss/variables';

.Record {
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;

    &__Start {
        background-image: $gradDark;
        border: 1px solid $white;
        border-radius: 35px;
        max-width: 80%;
        padding: 12px;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        z-index: 99;

        &__Content {
            padding: 19px 12px 24px;

            p:last-child {
                margin: 0;
            }
        }
    }

    &__Recorder {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }

    &__Devices {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        z-index: 1001;

        select {
            padding: 5px;
            font-size: 10px;
            color: white;
            background-color: transparent;
            border: 0;
            margin: 4px;        
        }
    }

    &__Toggle__Echo {
        position: absolute;
        padding: 0 16px;
        flex-direction: row;
        justify-content: center;
        z-index: 1001;

        select {
            padding: 5px;
            color: white;
            background-color: transparent;
            border: 0;       
        }
    }

    &__Info {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 99;
    }
}
