@import './../../scss/variables';

.CustomSignIn {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-image: linear-gradient(
            0deg,
            rgba(5, 5, 5, 0.93) 0%,
            rgba(40, 40, 40, 0.93) 100%
        ),
        url(./icons/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    padding: 0 16px;

    &__Container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__Intro,
    &__Form,
    &__Account {
        max-width: 306px;
        width: 100%;
        text-align: center;
    }

    &__Error {
        color: $red;
        margin-bottom: 10px;
    }

    &__Intro {
        margin-top: 14px;
    }

    &__Form {
        padding: 35px 0 0;
        .btn {
            margin-top: 15px;
            padding: 13px 25px;
        }
    }

    &__Account {
        // margin-top: 73px;
        margin-bottom: 37px;
        p {
            margin-bottom: 0;
        }
    }
}
