@import './../../scss/variables';

.Feed {
    overflow: scroll;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(calc(var(--vh, 1vh) * 100));
    scroll-snap-type: y mandatory;
    position: relative;

    &__Select {
        position: fixed;
        z-index: 99;
        bottom: 45px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__Grad {
        background-image: linear-gradient(
            180deg,
            rgba(134, 46, 46, 0) 0%,
            #070707 100%
        );
        position: fixed;
        z-index: 98;
        bottom: 0;
        width: 100%;
        height: 300px;
        pointer-events: none;
    }
}
