.VideoHeader {
    margin-top: 132px;
    padding: 0 16px;

    &__Line {
        display: flex;
        align-items: center;
        margin-bottom: 11px;
    }

    &__Icon {
        margin-right: 11px;
        width: 16px;
        text-align: center;
    }
}
