.Forbidden {
    padding: 16px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__Content {
        text-align: center;
        max-width: 306px;
        margin: 0 auto;

        h1 {
            margin: 54px 0 33px;
        }

        .btn {
            margin-top: 78px;
        }
    }
}
