@import '../../scss/variables';

.Header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 113px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    background-image: linear-gradient(
        0deg,
        rgba(17, 17, 17, 0) 0%,
        #070707 100%
    );
    &__Container {
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.4);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__Live {
        color: $green;
        text-transform: uppercase;
        font-weight: $fontSemiBold;
        text-align: center;
        letter-spacing: 1px;
    }

    &__Time {
        font-size: 12px;
    }
}
