.FeedPostDemo {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    scroll-snap-align: start;
    position: relative;

    &__Header {
        position: absolute;
        z-index: 1000;
    }

    video {
        object-fit: cover;
    }
}
