@import './scss/sorta-reset';
@import './scss/variables';
@import './scss/fonts';
@import './scss/button';
@import './scss/form';

html,
body {
    background-color: $black;
    height: 100%;
}

body {
    font-family: 'Gill Sans';
    font-weight: $fontLight;
    background-image: $gradDark;
    background-attachment: fixed;
    color: $white;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
}

strong {
    font-family: $fontSemiBold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: $fontSemiBold;
}

h1 {
    font-size: 25px;
}

a {
    color: $white;
    text-decoration: underline;
    font-weight: $fontSemiBold;
}
