$circle-radius: 19.5;

@function get-dash-value($radius, $percentage) {
    // Using $radius, calculate circumference.
    $circumference: 2 * 3.1415927 * $radius;

    // Convert percentage to decimal.
    // i.e. 50% = 0.5.
    $percentage-as-decimal: $percentage / 100%;

    // Return unit value.
    @return $circumference * $percentage-as-decimal;
}

.PlayBtn {
    &__Loader {
        fill: transparent;
        stroke: #ffffff;
        stroke-width: 1;

        .loading & {
            stroke-linecap: round;
            stroke-dasharray: get-dash-value($circle-radius, 100%);
            stroke-dashoffset: get-dash-value($circle-radius, 40%);
            transform-origin: 50% 50%;
            animation: 1.4s ease-in-out infinite both circle--animation;
        }
    }

    &.loading {
        svg {
            animation: 1s linear infinite svg-animation;
        }
    }
}

// SVG animation.
@keyframes svg-animation {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes circle-animation {
    0%,
    25% {
        stroke-dashoffset: get-dash-value($circle-radius, 97%);
        transform: rotate(0);
    }

    50%,
    75% {
        stroke-dashoffset: get-dash-value($circle-radius, 25%);
        transform: rotate(45deg);
    }

    100% {
        stroke-dashoffset: get-dash-value($circle-radius, 97%);
        transform: rotate(360deg);
    }
}
