button {
    border: 0;
    width: auto;
    padding: 0;
    display: block;
}

.btn {
    border: 1px solid $white;
    color: $white;
    border-radius: 50vh;
    letter-spacing: 1.2px;
    text-align: center;
    font-size: 20px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px 25px;
    text-decoration: none;
    font-weight: $fontLight;
    background-color: transparent;

    &.selected {
        background-color: $white;
        color: $black;
    }

    &-solid-blue {
        border: 0;
        color: $black;
        background-color: $blue;

        &-outline {
            border: 1px solid $blue;
            color: $blue;
        }
    }

    &-slim {
        height: 33px;
        font-size: 16px;
        padding: 0 16px;
    }
}
