.form-input {
    background-color: rgba($color: $white, $alpha: 0.3);
    padding: 0 25px;
    border-radius: 50vh;
    height: 50px;
    line-height: 50px;
    border: 1px solid $white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 22px;
    width: 100%;

    &.success {
        border-color: $green;
        color: $green;
    }

    &.error {
        border-color: $red;
        color: $red;

        &::placeholder {
            color: $red;
        }
    }

    &::placeholder {
        color: $white;
        line-height: 50px;
    }
}
