// Colours
$white: #ffffff;
$black: #070707;
$blue: #00f3ff;
$green: #00ff7f;
$red: #fc3357;
$gradDark: linear-gradient(0deg, #050505 0%, #282828 100%);

// Typography
$fontLight: 300;
$fontSemiBold: 600;
