@import './../../scss/variables';

.PlyrEditor {
    position: relative;
    height: 100%;

    &__Header {
        position: absolute;

        z-index: 1000;
        top: 0;

        .VideoHeader {
            margin-top: 15px;
        }
    }

    &__Controls {
        position: absolute;
        bottom: 8px;
        left: 8px;
        right: 8px;
        display: flex;
        padding: 4px 0;
    }

    &__Bar {
        background-color: $black;
        border: 1px solid $white;
        height: 56px;
        border-radius: 11px;
        width: 100%;
    }

    &__Play {
        margin: 8px 10px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__Slider {
        position: absolute;
        top: 0;
        left: 60px;
        right: 0;
        // width: 100%;
    }
}
